<template>
  <div class="flex">
    <div class="w-[12%] px-4 h-screen bg-gray-800 flex flex-col py-14">
      <router-link
        class="text-white font-medium text-2xl hover:underline py-4"
        to="/"
        >Marks</router-link
      >
      <router-link
        class="text-white font-medium text-2xl hover:underline py-4"
        to="/report"
        >Students</router-link
      >
      <router-link
        class="text-white font-medium text-2xl hover:underline py-4"
        to="/reports"
        >Отчет группа</router-link
      >
    </div>
    <div class="w-[88%] p-10">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
export default {
  middleware({ app, redirect }) {
    const { $cookies } = app
    if (!$cookies?.get('auth._token.local')) {
      return redirect('/login')
    }
  },
}
</script>
