<template>
  <div>
    <div class="flex items-center justify-between">
      <h4 class="text-4xl">Marks</h4>
      <button
        class="px-4 py-3 rounded-lg bg-gray-900 text-white font-medium text-base border border-gray-900 hover:text-black hover:bg-transparent"
        @click="show = !show"
      >
        {{ show ? 'Закрывать' : 'Добавить' }}
      </button>
    </div>
    <div v-show="show" class="my-8">
      <h6 class="text-base my-4 font-medium">Добавить</h6>
      <div class="grid grid-cols-4 gap-8">
        <input
          v-model="value"
          class="rounded-md font-medium border h-10 p-2"
          type="text"
        />
        <select
          v-model="student"
          class="rounded-md font-medium border h-10 p-2"
        >
          <option v-for="(item, i) in students" :key="i" :value="item.id">
            {{ item.first_name + ' ' + item.last_name }}
          </option>
        </select>
        <select
          v-model="subject"
          class="rounded-md font-medium border h-10 p-2"
        >
          <option v-for="(item, i) in subjects" :key="i" :value="item.id">
            {{ item.name }}
          </option>
        </select>

        <button
          class="px-4 py-2 rounded-lg bg-gray-900 text-white font-medium text-base border border-gray-900 hover:text-black hover:bg-transparent"
          @click="addNew()"
        >
          Добавить
        </button>
      </div>
    </div>
    <div class="relative overflow-x-auto mt-10 shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
              Имя
            </th>
            <th scope="col" class="px-6 py-3">Предмет</th>
            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
              Группа
            </th>
            <th scope="col" class="px-6 py-3">Оценка</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(mark, i) in marks"
            :key="i"
            class="border-b border-gray-200 dark:border-gray-700"
          >
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800"
            >
              {{ mark.student_name }}
            </th>
            <td class="px-6 py-4">{{ mark.subject_name }}</td>
            <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
              {{ mark.group_name }}
            </td>
            <td class="px-6 py-4">{{ mark.value }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script>
export default {
  layout: 'main',
  data() {
    return {
      show: false,
      value: null,
      subject: null,
      student: null,
    }
  },
  computed: {
    marks() {
      return this.$store.state.marks
    },
    students() {
      return this.$store.state.students
    },
    subjects() {
      return this.$store.state.subjects
    },
  },
  created() {
    this.$store.dispatch('marks')
    this.$store.dispatch('students')
    this.$store.dispatch('subjects')
  },
  methods: {
    addNew() {
      this.$store
        .dispatch('marksCreate', {
          value: this.value,
          student_id: this.student,
          subject_id: this.subject,
        })
        .then(() => {
          this.$store.dispatch('marks')
          this.show = false
        })
    },
  },
}
</script>
