<template>
  <div
    class="flex flex-col items-center justify-center w-screen h-screen bg-gray-200 text-gray-700"
  >
    <!-- Component Start -->
    <h1 class="font-bold text-2xl">Welcome Back :)</h1>
    <form
      class="flex flex-col bg-white rounded shadow-lg p-12 mt-12"
      @submit.prevent="authLogin"
    >
      <label class="font-semibold text-xs" for="usernameField"
        >Username or Email</label
      >
      <input
        v-model="username"
        class="flex items-center h-12 px-4 w-64 bg-gray-200 mt-2 rounded focus:outline-none focus:ring-2"
        type="text"
      />
      <label class="font-semibold text-xs mt-3" for="passwordField"
        >Password</label
      >
      <input
        v-model="password"
        class="flex items-center h-12 px-4 w-64 bg-gray-200 mt-2 rounded focus:outline-none focus:ring-2"
        type="password"
      />
      <button
        class="flex items-center justify-center h-12 px-6 w-64 bg-blue-600 mt-8 rounded font-semibold text-sm text-blue-100 hover:bg-blue-700"
      >
        Login
      </button>
      <div class="flex mt-6 justify-center text-xs">
        <a class="text-blue-400 hover:text-blue-500" href="#"
          >Forgot Password</a
        >
        <span class="mx-2 text-gray-300">/</span>
        <a class="text-blue-400 hover:text-blue-500" href="#">Sign Up</a>
      </div>
    </form>
    <!-- Component End  -->
  </div>
</template>
<script>
export default {
  data() {
    return {
      username: '',
      password: '',
    }
  },
  methods: {
    async authLogin() {
      if (this.username?.length > 3 && this.password?.length > 3) {
        const data = {
          phone_number: this.username,
          password: this.password,
        }
        try {
          const res = await this.$auth.loginWith('local', {
            data,
          })
          await this.$auth.strategies.local.token.set(res.data.access)
          await this.$axios.setToken(res.data.access, 'Bearer')
          this.$router.push('/')
        } catch (error) {
          console.log(error)
          alert(error)
        }
      }
    },
  },
}
</script>
