<template>
  <div>
    <div class="flex items-center justify-between">
      <h4 class="text-4xl">Students</h4>
      <select v-model="student" class="rounded-md font-medium border h-10 p-2">
        <option v-for="(item, i) in students" :key="i" :value="item.id">
          {{ item.first_name + ' ' + item.last_name }}
        </option>
      </select>
    </div>
    <div
      v-if="markReports"
      class="relative overflow-x-auto mt-10 shadow-md sm:rounded-lg"
    >
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
              Имя
            </th>
            <th scope="col" class="px-6 py-3">Группа</th>
            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
              Предмет
            </th>
            <th scope="col" class="px-6 py-3">Оценка</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(mark, i) in markReports"
            :key="i"
            class="border-b border-gray-200 dark:border-gray-700"
          >
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800"
            >
              {{ mark.first_name }} {{ mark.last_name }} {{ mark.surname_name }}
            </th>
            <td class="px-6 py-4">{{ mark.group_name }}</td>
            <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
              {{ mark.subject_name }}
            </td>
            <td class="px-6 py-4">{{ mark.avg_subject_mark }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script>
export default {
  layout: 'main',
  data() {
    return {
      student: null,
    }
  },
  computed: {
    students() {
      return this.$store.state.students
    },
    markReports() {
      return this.$store.state.markreport
    },
  },
  watch: {
    student(val) {
      this.$store.dispatch('markReport', val)
    },
  },
  created() {
    this.$store.dispatch('students')
  },
  methods: {},
}
</script>
