<template>
  <div>
    <div class="flex items-center justify-between">
      <h4 class="text-4xl">Отчет группа</h4>
    </div>
    <div
      v-if="reports"
      class="relative overflow-x-auto mt-10 shadow-md sm:rounded-lg"
    >
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
              Оценка
            </th>
            <th scope="col" class="px-6 py-3">Группа</th>
            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
              Предмет
            </th>
            <!-- <th scope="col" class="px-6 py-3">Оценка</th> -->
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(mark, i) in reports"
            :key="i"
            class="border-b border-gray-200 dark:border-gray-700"
          >
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800"
            >
              {{ mark.avg_subject_mark }}
            </th>
            <td class="px-6 py-4">{{ mark.group_name }}</td>
            <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
              {{ mark.subject_name }}
            </td>
            <!-- <td class="px-6 py-4">{{ mark.avg_subject_mark }}</td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script>
export default {
  layout: 'main',
  computed: {
    reports() {
      return this.$store.state.report
    },
  },
  created() {
    this.$store.dispatch('report')
  },
  methods: {},
}
</script>
